section h1{
  font-size: 40px;
  font-weight: 900;
}
section{
  width: 80%;
  margin: auto;
  text-align: center;
  background: white;
}
section .loan-col{
  flex-basis: 31%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 200px;
}

section .loan-col img{
  width: 100%;
  display: block;
  height: 330px;
}

section p{
  text-align: left;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s;
}

.layer:hover{
  background: rgba(240, 9, 5,0.3);
}